*{
	font-family:font-family: "Times New Roman", Times, serif;
	
	
	
}

.pagetitle{
	font-size:60px;
	margin:auto;
	padding:10%;
	
	
}

header
{ 
  
  font-size:40px;
  background-image:url(dojo.jpg);
  height:900px;
  background-position:center;
  
  position:relative;
  
 

}
.headpage{
	background-image:linear-gradient(to bottom,rgba(232, 232, 232,0.3),rgba(103, 128, 159,1));
	padding:0px;
	height:100%;
	width:100%;
	
	
	
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content:space-between;
	align-items:center;
	
	
}
.nav-links{
	flex:1;
	text-align:right;
	
	
}
.nav-links ul li 
{
	list-style:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
.nav-links ul li a{
	color:black;
	text-decoration:none;
	font-size:30px;
	margin:AUTO;
	text-align:center;
}
.nav-links ul li{

border-radius: 8px;
height:30px;
margin:AUTO;
cursor:pointer;
font-size:30px;

	
	
	
	
}
.nav-links ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:darkgrey;
	display:block;
	margin:auto;
	transition:0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
	
	
	
}

.subnav-links{
	display:none;
	text-align:left;
	margin:auto;
	transition:0.5s ease;
	
	
}
.nav-links ul li:hover .subnav-links{
	display:block;
	position:absolute;
	margin:auto;
	
	
	
}

.nav-links ul li:hover .subnav-links ul {
	margin:auto;
	display:inline-block;
	
	
}
.nav-links ul li:hover .subnav-links ul li{
	margin:auto;
	display:inline-block;
	
	
}
.nav-links ul li:hover .subnav-links ul li a{
	margin:auto;
	display:inline;
	text-align:left;
	
	
}



body{
	  margin: auto;
      width: 100%;
  
 
	background-color:rgba(103, 128, 159,1);
	}
	
	
	

	
.container {
  position: relative;
  width:30%;
  height:AUTO;
  
  margin:auto;
  
  transition: .5s ease;
  
 
}
.row
{   
	
	margin:auto;
	
	width:80%;
	
}

.image {
  display: block;
  width: 100%;
  height:698px;
  object-fit:cover;
  
}

.overlay {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image:linear-gradient(to bottom,rgba(232, 232, 232,0.3),rgba(103, 128, 159,1));
}
.container:hover  {
  width:32%;
  
}

.container:hover .overlay {
  opacity: 1;
  top: 0%;
  
}

.text {
  color: black;
  font-size: 60PX;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}







 
.footer
{
	width: 100%;
	text-align:center;
	padding: 30px 0;
}
.footer h4
{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.footer p
{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
	font-size: 10px
}