{% load static %}
<link 
rel="stylesheet"
type="text/css"
href="{% static 'css/bootstrap.css'%}"
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Cobra Kai{% endblock %}</title>
</head>

<body>
    <div class="container">
    <div id="our_menu">
        {% block menu %}
        <ul>
            <nav class="navbar navbar-expand-lg bg-light">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/schools/">Schools</a></li>
              </nav>
            
        </ul>
        {% endblock %}
    </div>
    <ul>
    {% for course in Courses %}
    <li>{{course.name}}</li>

    {% endfor %}
    </ul>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>